<div class="container my-4">
  <div class="row">
    <div *ngFor="let movie of movies" class="col-3 mb-4">
      <div class="card">
        <a [routerLink]="['/movie', movie.imdbID]"><img class="card-img-top" [src]="movie.Poster" alt="Card image cap"></a>
        <div class="card-body">
          <h5 class="card-title">{{ movie.Title }}</h5>
          <p class="card-text">{{ movie.Type }} | <strong>{{ movie.Year }}</strong></p>
          <a [routerLink]="['/movie', movie.imdbID]" class="btn btn-primary">Mais Detalhes</a>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" (click)="previousPage()" tabindex="-1">Anterior</a>
      </li> 
      <li class="page-item">
        <a class="page-link" (click)="nextPage()">Próximo</a>
      </li>
    </ul>
  </nav>
</div>
